@use 'variable' as *;
@use 'element-plus/theme-chalk/dark/css-vars.css';

//element plus样式
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': $BLACK
    )
  ),
  $fill-color: (
    'blank': transparent,
  ),
  $border-radius: (
    'base': $border-radius-3
  )
);

html.dark {
  --el-color-primary: #FFFFFF;
  --el-color-white: #212121;
}
