@use '../public/variable' as *;

html {
  background-color: $WHITE;
  color: $BLACK;
}

html.dark {
  color: $WHITE;
  background-color: $BLACK;
}

body {
  font-family: Noto Serif SC, serif, system-ui;
}
